!DOCTYPE html>
<html>

<head>
    <style> 
        .student {
            text-align: center;
        }

        .PRAJVAL {
            color: blue;
            font-size: 50px;
            font-weight: bold;
        }

        .BHATALE {
            font-style: bold;
            font-size: 20px;
        }
    </style>
</head>

<body>
    <div class="student">
        <div class="PRAJVAL">Internal CSS</div>

        <div class="BHATALE">This is impact of Internal CSS
        </div>
    </div>
</body>

</html>
